.wrapper {
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

$speakerColor: #37474F;

.sound-icon	{
	position: relative;
	&-speaker {
		display: flex;
		align-items: center;
		&-box {
			width: 20px; height: 16px;
			background: $speakerColor;
			border-radius:2px;
		}
		&-cone {
			width: 25px; height: 25px;
			transform: rotate(45deg) translate(-10px, 10px);
			background: $speakerColor;
			border-radius:2px;
		}
		&-cover {
			display: flex;
			align-items: center;
			width: 20px; height: 38px;
			padding: 0 5px;
			transform:translate(-25px, 0);
			background: #fff;
			&-bar {
				width: 4px; height: 50%;
				margin: 0 3px;
				background: $speakerColor;
				border-radius: 2px;
				&:nth-child(2) {
					height: 70%;
				}
				transition: all 400ms cubic-bezier(0.44, 0.09, 0.21, 1.27) 100ms;
			}
		}
	}
}

.silent {
	.sound-icon-speaker-cover-bar {
		height: 60%;
		margin: 0;
		transform: rotate(45deg);
		background: red;
		&:nth-child(1) {
			transform: rotate(-45deg) translate(3px, 3px);
		}
	}
}