$icomoon-font-family: "lamp" !default;
$icomoon-font-path: "fonts" !default;

$icon-esfera-del-dragon-negralamp--path1: "\e900";
$icon-esfera-del-dragon-negralamp--path2: "\e901";
$icon-esfera-del-dragon-negralamp--path3: "\e902";
$icon-esfera-del-dragon-negralamp--path4: "\e903";
$icon-esfera-del-dragonlamp--path1: "\e904";
$icon-esfera-del-dragonlamp--path2: "\e905";
$icon-esfera-del-dragonlamp--path3: "\e906";
$icon-signal-dedo-groserolamp-: "\e907";
$icon-signal-haciendo-el-delicioso-1lamp--path1: "\e908";
$icon-signal-haciendo-el-delicioso-1lamp--path2: "\e909";
$icon-signal-haciendo-el-delicioso-1lamp--path3: "\e90a";
$icon-signal-haciendo-el-delicioso-1lamp--path4: "\e90b";
$icon-signal-haciendo-el-delicioso-1lamp--path5: "\e90c";
$icon-signal-haciendo-el-delicioso-1lamp--path6: "\e90d";
$icon-signal-haciendo-el-delicioso-1lamp--path7: "\e90e";
$icon-signal-haciendo-el-delicioso-1lamp--path8: "\e90f";

