:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', serif; 
}
body {
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
}
h2 {
    text-align: center;
    margin: 0 0 20px;
}
.form {
    padding: 30px 40px;
    position: relative;
}
.form-control {
    padding-bottom: 10px;
    position: relative;
}
label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}
input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}
input:focus {
    outline: 0;
    border-color: #777;
}
.form-control small {
    font-size: 12px;
    background: #fff;
    color: var(--error-color);
    position: absolute;
    left: 10px;
    bottom: 5px;
    visibility: hidden;
}
button {
    cursor: pointer;
    background: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}
.form:before,.form:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background: #3498db;
    height: 100%;
    z-index: -1;
    transform: skew(10deg, 10deg);
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
}
.form:after {
    transform: skew(-10deg, -10deg);
}
.form-control.error small {
    visibility: visible;
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control.success input {
  border-color: var(--success-color);
}



footer a {
  text-decoration:none;
  color:#fff;
}

footer {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  background:#4b00ff;
}