.txt_2, #ad_cta {
  opacity: 0;
}

.txt {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.txt_b {
  font-weight: 500;
}

.txt_3 {
  opacity: 1;
  font-size: 14px;
}

svg {
  background: #fff;
  width: 100%;
  max-width: 160px;
  height: auto;
}

body {
  background: #eff;
  background: linear-gradient(to left, #eee, #ddefef);
}